

.sidenav {
  width: 300px;
  max-width: 80vw;
  background-color:white ;
  border-radius: 0;
  color: black;
  border: 1px solid #ccc;
}

.sidenav-header {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.mat-nav-list a {
  color: black;
  font-weight: 500;
}

.topbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu-button {
  margin-right: 1rem;
}

.logo-text {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.main-content {
  padding: 1rem;
}
