
.sidenav {
  width: 280px;
  max-width: 80vw;
  background-color: white;
  border-radius: 0;
  color: #333;
  
  padding-top: 0.5rem;
  
}

.sidenav-header {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #3f3f3f;
}

.mat-nav-list a {
  color: #222;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.mat-nav-list a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3f51b5;
  color: white;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 64px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-button {
  margin-left: 1rem;
  color: white;
}


.logo-text {
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Cursive', 'Segoe UI', sans-serif;
  color: white;
  white-space: nowrap;
}


.spacer {
  flex: 1 1 auto;
}


.user-section {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.user-icon {
  color: white;
  font-size: 24px;
}

.user-name {
  font-size: 0.95rem;
  color: white;
}


.main-content {
  padding: 1.5rem 1rem;
  background-color: #fafafa;
  min-height: calc(100vh - 64px);
}
.mat-icon.profile-icon {
  color: #000;
}

