<div class="dialog-container">
    <div class="image-section">
      <img src="https://picsum.photos/seed/p1b/640/480" alt="Post Image" /> 
    </div>
  
    <div class="info-section">
      <h3 class="caption"></h3>
  
      <div class="comments-section">
        <p >💬comment </p>
      </div>
   
      <mat-form-field class="comment-input" appearance="outline">
        <input matInput placeholder="Add a comment..."/>
      </mat-form-field> 
  
      <div class="dialog-actions">
        <button mat-button >Close</button>
        <button mat-raised-button color="primary">Post</button>
      </div>
    </div>
  </div>
  