<div class="container">
    <div class="user-card">
      <img [src]="" alt="User" class="avatar" />
      <div class="user-info">
        <div class="username">tanya</div>
        <div class="name">gugu</div>
      </div>
      <a href="#" class="switch">Switch</a>
    </div>
  
    
    <div class="suggestions-header">
      <span>Suggested for you</span>
      <a href="#">See All</a>
    </div>
  

    <div class="suggestion">
      <img [src]="" alt="Suggestion" class="avatar" />
      <div class="user-info">
        <div class="username">tanua</div>
        <div class="followed-by">Followed by gugu</div>
      </div>
      <a href="#" class="follow">Follow</a>
    </div>
  </div>
  