<div class="container">
   

    <div class="suggestion">
      <img [src]="userList.avatar" alt="Suggestion" class="avatar"   routerLink="user/{{userList.id}}/profile"/>
      <div class="user-info">

        <div class="username"  routerLink="user/{{userList.id}}/profile">{{userList.username}}</div>
        <div class="followed-by">{{userList.name}}</div>
      </div>
      @if (!userDetail.following.includes(userList.id)){
        <p class="follow follow-btn" (click)="follow(userList.id)">Follow</p>
      }
      @else{
        <p class="follow unfollow-btn" (click)="unFollow(userList.id)">Unfollow</p>
        
      }
    </div>
  </div>
  