<div class="profile-container">
  
  <div class="profile-card">
    <img [src]="userData.avatar" alt="Profile" class="profile-avatar" />
    <button (click)="openDialog()">edit</button>

    <div class="profile-info">
      <div>
        <h1>{{ userData.name }}</h1>
        <p>{{ userData.username }}</p>
      </div>
      <div>
        <h1>{{ userData.location }}</h1>
        <p>{{ userData.bio }}</p>
      </div>
    </div>

    <div class="stats-row">
      <div><span>{{ userData.followers?.length }}</span> Followers</div>
      <div><span>{{ userData.following?.length }}</span> Following</div>
      <!-- <div><span>{{ postData?.length }}</span> Posts</div> -->

    </div>
  </div>

  
  <div class="posts-grid">
    <div *ngFor="let post of postData" class="post-tile">
      <img *ngIf="post.photos?.length" [src]="post.photos[0]" alt="Post" />

      <div class="post-meta">
        <div class="post-stats">
          <span>{{ post.likes?.length }} ❤️</span>
          <span>{{ post.comments?.length }} 💬</span>
        </div>
        <div class="post-author">{{ post?.username }}</div>
        <div class="post-description">
          {{ post?.description || 'No description provided.' }}
        </div>
    </div>
  </div>
</div>
